* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Karla;
  src: url(./assets/fonts/Karla-VariableFont_wght.ttf);
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  background-color: hsl(148, 38%, 91%);
  font-family: Karla, "sans-serif";
}

main {
  background-color: white;
  border-radius: 15px;
  margin: 25px 14px 7px 14px;
  padding: 20px;
  color: hsl(187, 24%, 22%);
}

.hidden {
  display: none;
}

h1 {
  margin-bottom: 10px;
  font-size: 1.7rem;
}

p {
  margin: 9px 0;
  font-size: 0.8rem;
}

.input-div input {
  margin-bottom: 10px;
}

#query-type {
  margin: 15px 0;
}

.error-text {
  color: hsl(0, 66%, 54%);
  margin-top: 5px;
  margin-bottom: 10px;
}

.text-input,
#msg-input {
  font: inherit;
}

.text-input,
#msg-input,
.radio-div,
button {
  padding: 0 18px;
  width: 100%;
}

.text-input,
#msg-input,
.radio-div {
  height: 40px;
  border-radius: 8px;
  border: 1px solid hsl(186, 15%, 59%);
}

.error {
  border: 1px solid hsl(0, 66%, 54%);
}

.two-inputs-div,
.two-radios-div {
  display: flex;
  flex-direction: column;
}

.radio-div,
.checkbox-div {
  display: flex;
  gap: 10px;
}

.radio-div {
  align-items: center;
  text-align: center;
}

.radio-div p {
  font-size: 0.9rem;
}

.two-radios-div {
  margin: 10px 0 15px 0;
  gap: 14px;
}

#radio-1,
#radio-2 {
  width: 17px;
  height: 17px;
  opacity: 0.5;
}

.checkbox-div {
  gap: 15px;
  line-height: 1.5;
}

#checkbox {
  opacity: 0.5;
  width: 16px;
  height: 16px;
}

input[type="radio"]:checked,
input[type="radio"]:not(:checked) + label,
#checkbox:checked,
#checkbox:not(:checked) + label {
  display: none;
}

input[type="radio"] + label img {
  width: 17px;
  height: 17px;
  margin-top: 4.6px;
}

#checkbox + label img {
  width: 15px;
  height: 14px;
  margin-top: 4px;
}

.msg-div {
  margin-top: 20px;
}

#msg-input {
  height: 200px;
  padding: 10px 18px;
}

.consent-div {
  margin: 20px 0;
}

.checkbox-div {
  align-items: center;
}

button {
  background-color: hsl(169, 82%, 27%);
  border: none;
  border-radius: 6px;
  height: 45px;
  color: white;
  font-weight: 700;
  font-family: inherit;
  font-size: 0.85rem;
}

@media (min-width: 575px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 20px;
  }

  main {
    width: 505px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 13.5px;
  }
  body {
    justify-content: center;
  }

  main {
    width: 540px;
    padding: 25px 35px;
    border-radius: 11px;
  }

  h1 {
    margin-bottom: 16px;
  }

  p {
    font-size: 0.9rem;
    margin: 8px 0;
  }

  .text-input,
  #msg-input {
    font-size: 0.95rem;
    opacity: 0.73;
    line-height: 1.4;
  }

  .two-inputs-div,
  .two-radios-div {
    flex-direction: row;
    gap: 15px;
  }

  .error-text {
    margin-bottom: 0;
  }

  .two-inputs-div div {
    flex-grow: 1;
  }

  #radio-1,
  #radio-2 {
    width: 15px;
    height: 15px;
  }

  #query-type {
    margin-bottom: 13px;
  }

  .query-div .error-text {
    margin-top: 12px;
    margin-bottom: 5px;
  }

  .query-div {
    margin: 5px 0 5px 0;
  }

  .input-div {
    margin-bottom: 13px;
  }

  .text-input,
  .radio-div,
  #msg-input {
    height: 35px;
    border-radius: 5px;
  }

  .radio-div p {
    font-size: 1.05rem;
  }

  .query-div {
    margin-bottom: 17px;
  }

  .two-radios-div {
    margin-top: 10px;
  }

  .msg-div {
    margin-top: 5px;
    margin-bottom: 25px;
  }

  #msg-input {
    height: 75px;
  }

  .consent-div {
    margin: 0px 0 30px 0;
  }

  .checkbox-div p {
    margin: 4px;
  }

  #checkbox {
    width: 13.5px;
    height: 13.5px;
  }

  button {
    height: 46px;
    margin: 0;
    font-size: 0.95rem;
  }

  input:hover,
  textarea:hover,
  .radio-div:hover,
  .checkbox-div,
  label,
  button:hover {
    cursor: pointer;
  }

  input:hover,
  textarea:hover {
    border: 1px solid green;
  }

  input[type="radio"] + label img {
    width: 15px;
    height: 15px;
    margin-top: 4.9px;
  }

  #checkbox + label img {
    width: 13.5px;
    height: 13.5px;
    margin-top: 0;
  }

  #checkbox + label {
    margin-top: 2.8px;
  }

  button:hover {
    background-color: hsl(167, 92%, 14%);
  }
}
