* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Karla;
  src: url(./assets/fonts/Karla-VariableFont_wght.ttf);
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  background-color: hsl(148, 38%, 91%);
  font-family: Karla, "sans-serif";
}

main {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 30px 15px 20px 15px;
  padding: 20px;
  color: hsl(187, 24%, 22%);
}

.hidden {
  display: none;
}

h1 {
  margin-bottom: 20px;
  font-size: 1.7rem;
}

p {
  margin: 10px 0;
  font-size: 0.95rem;
}

.input-div {
  margin-bottom: 10px;
}

.error-text,
.error-email {
  /* display: none; */
  margin-top: 5px;
  margin-bottom: 10px;
}

.text-input,
.msg-input,
.radio-div,
button {
  padding: 0 15px;
  width: 100%;
}

.text-input,
.msg-input,
.radio-div {
  height: 50px;
  border-radius: 8px;
  border: 1px solid hsl(186, 15%, 59%);
}

.two-inputs-div,
.two-radios-div {
  display: flex;
  flex-direction: column;
}

.radio-div,
.checkbox-div {
  display: flex;
  gap: 10px;
}

.radio-div {
  align-items: center;
}

.radio-div p {
  font-size: 0.9rem;
}

.two-radios-div {
  margin: 10px 0 15px 0;
  gap: 12px;
}

#radio-1,
#radio-2 {
  width: 17px;
  height: 17px;
  margin: 0 5px 0 10px;
  opacity: 0.5;
}

.msg-input {
  height: 230px;
}

.consent-div {
  margin: 20px 0;
}

button {
  background-color: hsl(169, 82%, 27%);
  border: none;
  border-radius: 6px;
  height: 50px;
  color: white;
  font-weight: 700;
  font-family: inherit;
  font-size: 0.95rem;
}

@media (min-width: 575px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 20px;
  }

  main {
    width: 545px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 13.5px;
  }
  body {
    justify-content: center;
  }

  main {
    width: 540px;
    /* min-height: 560px; */
    max-height: 660px;
    padding: 25px 35px;
    border-radius: 11px;
  }

  h1 {
    margin-bottom: 17px;
  }

  p {
    font-size: 0.9rem;
    margin: 6px 0;
  }

  .two-inputs-div,
  .two-radios-div {
    flex-direction: row;
    gap: 15px;
  }

  .two-inputs-div div {
    flex-grow: 1;
  }

  .two-radios-div {
    margin: 5px 0 5px 0;
  }

  .input-div {
    margin-bottom: 5px;
  }

  .text-input,
  .radio-div,
  .msg-input {
    height: 36px;
    border-radius: 5px;
  }

  .radio-div p {
    font-size: 1.05rem;
  }

  .msg-div {
    margin-top: 5px;
  }

  .msg-input {
    height: 70px;
  }

  .consent-div {
    margin: 5px 0 25px 0;
  }

  .checkbox-div {
    margin: 15px 0 0 0;
  }

  .checkbox-div p {
    margin: 3px;
  }

  button {
    margin-top: 15px;
    height: 45px;
    margin: 0;
  }
}
